/* Colors and fonts */
body {
	background: #F7F9FC;
    color: pink;
    font-family: 'Montserrat', serif;
    font-size: 17px
    font-weight: lighter;
}
h1, h2, h3 {
	font-family: 'Montserrat', sans-serif;
}
h1 {color: pink;
    font-size: 32px;
    font-weight: 900; 
}
h2 {color: pink;
    font-size: 20px;
    font-weight: lighter;
    font-weight:500;
}
a {font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: #6B72E1;;
    font-weight: 600;
    font-size: 16px;
}
a: hover {
    color: pink; 

}


/* Custom design with class */
.container { 
    width: 700px;
    margin: 40px auto;
}

@media (max-width: 760px) {
	.container {
		width: 600px;

	}

}

@media (max-width: 500px) {
	.container {
		width: 400px;

	}

}

.card-white{
	background-color: white;
    padding: 40px;
    box-shadow: Opx 10px 30px; 
    text-align: center;
    border-radius: 4px; 
    margin: 20px 0px
}

.img-circle {
	border-radius: 50%
}

.btn-blue {
	background-color: #ff1493;
	color:pink;
}

.list-inline {
	list-style: none
	padding-left: 0px;
}
.list-inline li {
	display: inline;
	padding: 10px;
}

.list-inline i {
	font-size: 50px
	color: rgb(230, 230, 230);
}

.list-inline i:hover {
	font-size: 50px
	color: rgb(230, 230, 230);
}

/* Design adjustement using id */
#introduction p {
	margin-bottom: 40px; 
}



